<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AuthenticationConnectString" value="User Id=highview_auth;Password=admin;Data Source=docex;Min Pool Size=10;Incr Pool Size=10" />
    <add key="UserName" value="TEDAdmin"/>
    <add key="Password" value="Password12345!"/>
    <add key="DataflowConnectString" value="User Id=dflow01_esb;Password=Password_12345;Data Source=tedtest1;" />
  </appSettings>
</configuration>